South==0.7.3
-e git+https://github.com/earle/django-bootstrap.git@7d222492f14fc02df00573f8af50fc4b4ebc8b05#egg=bootstrap-dev
django-annoying==0.7.6
-e git+https://github.com/theatlantic/django-chosen.git@a0e3ae06cb87fc894ce037220396203007db987b#egg=django_chosen-dev
django-extensions==0.7.1
django-taggit==0.9.3
feedparser==5.1
galerts==0.2.4dev
gunicorn==0.13.4
lxml==2.3.2
