<?xml version="1.0" encoding="OUTPUT_ENCODING" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
        <title>{% block title %}{% endblock %}</title>
		<meta http-equiv="Content-Type" 
			content="text/html; charset=OUTPUT_ENCODING" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <link rel="stylesheet" href="http://localhost:9294/application.css" /> 
	</head>
	<body>

{% block content %}
{% if user.is_authenticated %}
    <h1>Hello {{ user }}</h1>

    <div id="glean">
    </div>
    <div class="searches" style="display: none;">
        <h2>My searches</h2>

        <ul>
            {% for search in searches %}
            <li>{% include "glean/snippets/search_snippet.html" %}</li>
            {% endfor %}
        </ul>
    </div>
{% else %}
    <h1>Recent finds...</h1>
    <div class="recent">
    </div>
{% endif %}
{% endblock %}


{% block scripts %}
<!-- <script src="{{ STATIC_URL }}glean/js/application.js"></script> -->
<script src="http://localhost:9294/application.js"></script> 

{% if user.is_authenticated %}
<script type="text/javascript" charset="utf-8">
    
    var exports = this;
    jQuery(function(){
        var App = require("index");
        var Search = require("models/search");
        Search.url = "{% url api_dispatch_list resource_name="search" api_name="v1" %}";
        Search.user_api_uri = "{% url api_dispatch_detail resource_name="user" api_name="v1" pk=user.pk %}";
        exports.app = new App({el: $("#glean")});
    });
</script>
{% endif %}
{% endblock %}

</body>
</html>
