{% extends "glean/base.html" %}
{% block title %}{% if user.is_authenticated %}Glean: My searches{% else %}Glean. Know stuff.{% endif %}{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <h1>Hello {{ user }}</h1>

    <div id="glean">
    </div>
    <div class="searches" style="display: none;">
        <h2>My searches</h2>

        <ul>
            {% for search in searches %}
            <li>{% include "glean/snippets/search_snippet.html" %}</li>
            {% endfor %}
        </ul>
    </div>
{% else %}
    <h1>Recent finds...</h1>
    <div class="recent">
    </div>
{% endif %}
{% endblock %}


{% block scripts %}
<!-- <script src="{{ STATIC_URL }}glean/js/application.js"></script> -->
<script src="http://localhost:9294/application.js"></script> 

{% if user.is_authenticated %}
<script type="text/javascript" charset="utf-8">
    
    var exports = this;
    jQuery(function(){
        var App = require("index");
        exports.app = new App({el: $("#glean")});
    });
</script>
{% endif %}
{% endblock %}

